<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Item : Edit</title>
</head>
<body>
	<h1 layout:fragment="header">Item : Edit</h1>
	<div layout:fragment="content" class="container">
		<form th:action="${item.id!=0} ? ${item.id}+'.html' : 'form.html' " th:object="${item}"
			th:method="${item.id != 0} ? put : post" role="form">
			<div class="form-group">
				<label >Name</label> <input type="text"
					th:field="*{name}" class="form-control" placeholder="name" />
			</div>

			<div class="form-group">
				<label >Price</label> <input type="text"
					th:field="*{price}" class="form-control"
					placeholder="price" />
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>