<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Layout</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
</head>

<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/"> Home</a> <a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Thymeleaf - Layout </a>

			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js" />
</body>
</html>
