<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Customer : Edit</title>
</head>
<body>
	<h1 layout:fragment="header">Customer : Edit</h1>
	<div layout:fragment="content" class="container">
		<form th:action="${customer.id!=0} ? ${customer.id}+'.html' : 'form.html' " th:object="${customer}"
			th:method="${customer.id != 0} ? put : post" role="form">
			<div class="form-group">
				<label >Name</label> <input type="text"
					th:field="*{name}" class="form-control" placeholder="name" />
			</div>

			<div class="form-group">
				<label >Firstname</label> <input type="text"
					th:field="*{firstname}" class="form-control"
					placeholder="firstname" />
			</div>

			<div class="form-group">
				<label >EMail</label> <input type="text"
					th:field="*{email}" class="form-control"
					placeholder="email" />
			</div>

			<div class="form-group">
				<label >Street</label> <input type="text"
					th:field="*{street}" class="form-control"
					placeholder="street" />
			</div>

			<div class="form-group">
				<label >City</label> <input type="text"
					th:field="*{city}" class="form-control"
					placeholder="city" />
			</div>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>